:host{
    --image-background: #5a6cb2;
    --information-background: #ffffff;
    --title-color: #444;
    --title-size: 4rem;
    --gray: #6f6f6f;
    --button-color: #5a6cb2;
    --text-button-color: #fff;
    max-width: 71rem;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.card{
    max-width: 85%;
    margin: auto;
    background: blue;

}
.card__image-box{
    position: relative;
    width: 100%;
    min-height: 25rem;
    padding: 4rem 1rem;
    background: var(--image-background);
}
.card__image-box::before{
    position: absolute;
    content:'Nike';
    font-size: 12rem;
    font-weight: 800;
    opacity: 0.1;
}
.card__image{
    width: 80%;
    min-width: 200px;
    position: relative;
    bottom: -12rem;
    right: -6rem;

}
.card__information{
    display: flex;
    flex-direction: column;
    padding: 4em 2em 2em 2em;
    background: var(--information-background);
    font-size: 16px
}
.card__title{
    padding: 2rem 0;
    color: var(--title-color);
    font-size: var(--title-size);
}
.card__subtitle{
    color: var(--gray)
}
.card__description{
    padding: 2rem 0;
}
.card__price{
    font-size: 4rem;
    color: var(--gray);
}
.buy-button{
    min-width: 13.5rem;
    min-height: 5rem;
    margin: 1rem 0;
    background: var(--button-color);
    color: var(--text-button-color);
    border-radius: 4rem;
    border: none;
    align-self: flex-end;
}

@media (min-width: 1080px){
    :host{
        max-width: 110rem;
    }
    .card{
        display: flex;
    }
    .card__image-box{
        min-width: 45rem;
        min-height: 60rem;
    }
    .card__image-box::before{
        top: 0;
    }
    .card__image{
        position: absolute;
        width: 73rem;
        transform: rotate(-30deg);
        bottom: -1.9rem;
        left: -190px;
    }
    .card__information{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card__information{
        padding: 4rem ;
    }
    .card__description{
        padding: 5rem 0rem 5rem 5rem;
    }
}
